<h1>Create a New Pokemon</h1>

<form action="/pokemon" method="post">

<h3>Name : </h3>
<input type="text" name="pokemon[name]" value="">

<h3>CP : </h3>
<input type="num" name="pokemon[cp]" value="">

<h3>Poke Type : </h3>
<input type="text" name="pokemon[poke_type]" value="">
<input type="submit" value="Create">

</form>
